body {
    background-color: white;
  }

.flexContainer {
  /* border: 5px solid #05ce05; */
  display: flex;
  align-content: center;
  }

  .workGrid {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }

  h1 {
    text-align: center;
    color: rgb(10, 83, 4);
    border: 5px solid rgb(28, 104, 5);
    margin: 50px;
  }

  h3 {
    text-align: center;
    color: rgb(10, 83, 4);
    margin: 50px;
  }

  ul {
   list-style: disc;
  }

  .flexContainer p {
    text-align: center;
    color: rgb(2, 34, 6);
    padding: 30px;
  }

  p.left-align {
    text-align: left;
  }

  @media (max-width: 800px) {
    .flexContainer {
      flex-direction: column;
    }
  }

  @media (min-width: 800px) {
    .flexContainer {
      flex-direction: row;
    }
  }
