body {
    background-color: white;
  }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 600px;
    align-items: center
  }

  h1 {
    color: rgb(10, 83, 4);
    border: 2px solid rgb(245, 248, 248);
    margin: 50px;
  }
  p {
    color: rgb(2, 34, 6);
    padding: 30px;
  }